{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<section class="bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 mb-4 mb-sm-5">
              <div class="card card-style1 border-0">
                  <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                      <div class="row align-items-center">
                          <div class="col-lg-6 mb-4 mb-lg-0">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                          </div>
                          <div class="col-lg-6 px-xl-10">
                              <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                  <h3 class="h2 text-white mb-0">Sameer Malik</h3>
                                  <span class="text-primary">Web developer</span>
                              </div>
                              <ul class="list-unstyled mb-1-9">
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Experience:</span> Fresher</li>
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> sameermalik0131@mail.com</li>
                                  <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span>+91-958-261-6818</li>
                              </ul>
                              <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                  <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                  <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                  <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                  <li><a href="#!"><i class="ti-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 mb-4 mb-sm-5">
              <div>
                  <span class="section-title text-primary mb-3 mb-sm-4">About Me</span>
                  <p>
                    I'm very great full to introduce myself. my name is sameer malik ,i live in ghazibad with my faimfly,
                    i have done my schooling from  delhi govt boys senior secondary school 
                    and diploma in technology from mechanical stream from delhi gb pant college in 2019 
                    i have completed my bachelars degree ........
                    <br>
                    in technology from mechanical stream from ghaziabad krishna engineering college in 2022 and 
                    before last year of my graduation i have done internship 
                    in programing language like python from internshala i made project that name is text editor software itt was totally based on python programing language and in last year of my graduation i also a made project that is portable manuale sheet rolling machine
                    and brfore completed my grduation 
                    <br>
                    i palced in well reputed company as a design engineer i worked there 6 to 7 month and curently i have been studying full stack web development from acciojob i m good in java(dsa)
                    and i know python  django html programing language  i made 3 and 4 project in these programing language first one is text editore it
                    based on python programing language second one is web page it based on django frame work css and html ,last one is pizza oder it based on java programing language with the help of oops   
                 </p>
                  <p class="mb-0">   my strengths are i am self-motivated, hardworking and Quick learner becose i m from mechanical stram ,I am agood team player.
                    <br>
                    My weakness is quickly trusting every person and I am trying to overcome my weakness.
                   
                   <br>
                    my hobbies is dance and in wich the dance i much more like hip hop dance thank you; 
                    </p>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="row">
                  <div class="col-lg-12 mb-4 mb-sm-5">
                      <div class="mb-4 mb-sm-5">
                          <span class="section-title text-primary mb-3 mb-sm-4">Skill</span>
                          <div class="progress-text">
                              <div class="row">
                                  <div class="col-6">Java(oops)</div>
                                  <div class="col-6 text-end">80%</div>
                              </div>
                          </div>
                          <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                              <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                          </div>
                          <div class="progress-text">
                              <div class="row">
                                  <div class="col-6">Java(DSA)</div>
                                  <div class="col-6 text-end">75%</div>
                              </div>
                          </div>
                          <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                              <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                          </div>
                          <div class="progress-text">
                              <div class="row">
                                  <div class="col-6">Python And Django</div>
                                  <div class="col-6 text-end">75%</div>
                              </div>
                          </div>
                          <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                              <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                          </div>
                          <div class="progress-text">
                              <div class="row">
                                  <div class="col-6">HTML,CSS</div>
                                  <div class="col-6 text-end">60%</div>
                              </div>
                          </div>
                          <div class="custom-progress progress progress-lower" style="height: 4px;">
                              <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock body %}
