{% extends 'base.html' %}

{% block title %}Java_Developer{% endblock title %}

{% block body %}
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
      <div class="hd">Why People Believe in Us</div>
      <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
      <div class="row" style="justify-content: center">
      
          <div class="card col-md-3 col-12 ml-2">
              <div class="card-content">
                  <div class="card-body"> <img class="img" src="https://i.imgur.com/xUWJuHB.png" />
                      <div class="card-title"> We're Unbiased </div>
                      <div class="card-subtitle">
                          <p> <small class="text-muted"> Java developers are the cornerstone of the industry. While most developers will know and use several programming languages over the course of their careers </small> </p>
                      </div>
                  </div>
              </div>
          </div>
     
      </div>
      <div class="ft">
          <p class="chk"><small class="text-muted">For more Details?</small></p>
         <a href="https://www.oracle.com/in/java/"><div class="btn btn-primary">click the button</div></a>
          
      </div>
  </div>

{% endblock body %}
