{% extends 'base.html' %}

{% block title %}Python Developer{% endblock title %}

{% block body %}
 
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
      <div class="hd">Why People Believe in Us</div>
      <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
      <div class="row" style="justify-content: center">
          <div class="card col-md-3 col-12">
              <div class="card-content">
                  <div class="card-body"> <img class="img" src="https://i.imgur.com/S7FJza5.png" />
                      <div class="shadow"></div>
                      <div class="card-title"> We're Free </div>
                      <div class="card-subtitle">
                          <p> <small class="text-muted">We spent thousands of hours creating on algorithm that does this for you in seconds. We collect a small fee from the professional after they meet your</small> </p>
                      </div>
                  </div>
              </div>
          </div>
        
   
      </div>
      <div class="ft">
          <p class="chk"><small class="text-muted">Still not sure?</small></p>
          <a href="https://en.wikipedia.org/wiki/Python_(programming_language)"><div class="btn btn-primary">click the button</div></a>
      </div>
  </div>


{% endblock body %}
